# Logs
logs
*.log*

node_modules
dist
dist-ssr
*.local

# Directories
coverage/
.vscode/*

# files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env


# amplify
.amplify
amplify_outputs*
amplifyconfiguration*
