# Logs
logs
*.log*

node_modules
dist
dist-ssr
*.local

# Directories
coverage/
.vscode/
.terraform/

# files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
package-lock.json
.tfvars



# amplify
.amplify
amplify_outputs*
amplifyconfiguration*
