.Button {
    font-size: .8rem;
    background-color: #FFF;
    border: 1px gray solid;
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 1);
    color: black;
    padding: .4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;

    &:hover:not(:disabled) {
        background-color: #EEE;
    }

    &:active:not(:disabled) {
        box-shadow: none;
    }

    &:disabled {
        background-color: #EEE;
        border: 1px rgb(184, 184, 184) solid;
        color: #8d8d8d;
        opacity: 0.7;
        cursor: not-allowed;
        box-shadow: none;

    }
}